html,
body {
    background-color: transparent !important;
}

.navbar-nav--divider {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
    border-bottom: 5px solid #e7e7e7;
}

.ui-sortable-handle {
    cursor: move;
}

.form-group.required .control-label:after {
    content: '*';
    color: red;
}

.table-cell-valign-middle > tbody > tr > td {
    vertical-align: middle;
}

.file-preview .krajee-default.file-preview-frame .kv-file-content {
    width: auto;
}

[data-translate-url].form-control {
    border-width: 1px 10px;
}