<p>Вы даете свое прямое согласие на то, чтобы компания Vertera осуществляла обработку Ваших персональных данных в целях:&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;- предоставления информации о нашей продукции по электронной почте;</p>

<p>&nbsp;</p>

<p>&nbsp;- возможного дальнейшего сотрудничества;</p>

<p>&nbsp;</p>

<p>&nbsp;- оказания услуг по продаже продукции;</p>

<p>&nbsp;</p>

<p>&nbsp;- обработки поступающих от Партнера заказов;</p>

<p>&nbsp;</p>

<p>&nbsp;- обработки причитающихся Партнеру или от Партнера платежей;</p>

<p>&nbsp;</p>

<p>&nbsp;- контроля бизнес-ветви Партнера и подготовки соответствующей отчетности;</p>

<p>&nbsp;</p>

<p>&nbsp;- подготовки информации по объемам покупок (продаж) Партнера, в том числе по его бизнес-ветви, и достигнутому уровню, а также другой бизнес- информации, предназначенной для Партнера, Спонсора (Наставника) Партнера и вышестоящей бизнес-ветви Партнера согласно Правилам Вертеры;</p>

<p>&nbsp;</p>

<p>&nbsp;- предоставления имени, адреса, номера телефона и/или адреса электронной почты Партнера всем Независимым Партнерам VERTERA в выше- и нижестоящей бизнес-ветвях Партнера;</p>

<p>&nbsp;</p>

<p>&nbsp;- организации связи с Партнером по вопросам регистрации Партнера, оформления заказов Партнера или платежей;</p>

<p>&nbsp;</p>

<p>&nbsp;- предоставления дополнительной информации или отклика на комментарии или запросы Партнера;</p>

<p>&nbsp;</p>

<p>&nbsp;- предотвращения актов мошенничества;</p>

<p>&nbsp;</p>

<p>&nbsp;- сбора сумм задолженности;</p>

<p>&nbsp;</p>

<p>&nbsp;- санкционирования доступа к информации, материалам, товарам (сведениям о товарах) Вертеры.</p>

<hr />
<p>В этой связи компании Vertera настоящим предоставляется право на хранение Ваших данных, включая:</p>

<p>&nbsp;</p>

<p>&nbsp;- имя,</p>

<p>&nbsp;</p>

<p>&nbsp;- фамилию,</p>

<p>&nbsp;</p>

<p>&nbsp;- дату рождения,</p>

<p>&nbsp;</p>

<p>&nbsp;- контактный телефон,</p>

<p>&nbsp;</p>

<p>&nbsp;- адрес регистрации,</p>

<p>&nbsp;</p>

<p>&nbsp;- адрес электронной почты,</p>

<p>&nbsp;</p>

<p>&nbsp;- номер паспорта<em> / номер </em><em>id</em>,</p>

<p>&nbsp;</p>

<p>&nbsp;- номер счета ( банковского / платежной системы ).</p>

<p>&nbsp;</p>

<p>Компания Vertera будет использовать эти данные в целях предоставления и улучшения своих услуг.</p>

<p>&nbsp;</p>

<p>После ознакомления с нашей &nbsp;Политикой защиты персональных данных <!-- Внести ссылку на политику конфиденциальности на сайте vertera.org -->просим вас дать своё согласие на хранение и использование ваших данных в соответствии с обновлённой &nbsp;Политикой защиты персональных данных.</p>

<p>&nbsp;</p>

<p>Настоящее согласие предоставляется мной на осуществление действий в отношении моих персональных данных, которые необходимы для достижения указанных выше целей, включая их сбор, запись, упорядочение, хранение, изменение, предоставление доступа к данным, производство запросов, изготовление выписок, использование данных, их передача, перекрестное использование, объединение, блокирование, исключение или уничтожение, независимо от способов их совершения или используемых средств.</p>

<p>&nbsp;</p>

<p>Если у вас возникли какие-либо вопросы, напишите нам на: &nbsp; <u><a href="mailto:info@vertera.org">info@vertera.org</a></u></p>

<p><br />
Благодарим за то, что Вы с нами.</p>

<p>&nbsp;</p>

<p>Ваше заявление о согласии*</p>

<p>&nbsp;</p>
