html,
body {
    background-color: transparent !important;
}

.navbar-nav--divider {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
    border-bottom: 5px solid #e7e7e7;
}

.ui-sortable-handle {
    cursor: move;
}

.form-group.required .control-label:after {
    content: '*';
    color: red;
}


