.b-header__mobile-menu {
    padding: 17px 0;
    display: none;
}

.b-header__mobile-menu .fa {
    font-size: 21px;
    color: #58af55;
    text-decoration: none;
}

.b-header__mobile-menu a {
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
    color: #000;
}

.b-adapt-navigation {
    width: 100%;
}

.b-adapt-navigation .row-1 {
    padding: 20px 0;
}

.b-adapt-navigation .row-1 .col-3 {
    text-align: right;
}

.b-adapt-navigation .row-1 .col-1 {
    text-align: left;
}

.b-adapt-navigation .row-1 .col-2 {
    text-align: center;
}

.b-header__search-mobile .b-header__search-mobile-icon a {
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
    line-height: 30px;
}

.b-header__search {
    padding: 5px 0;
}

#b-adapt-navigation-close {
    font-size: 24px;
    color: #5bae59;
    line-height: 24px;
    text-decoration: none;
}

.b-adapt-navigation .b-header__contact {
    margin: 20px 0;
    text-align: right;
    display: block;
}

.b-adapt-navigation .b-header__contact span {
    display: inline-block;
}


.b-adapt-navigation .row-3 {
    margin: 20px 0;
}

.b-nav li i {
    display: none;
}

@media (min-width: 320px) and (max-width: 992px) {

    .b-nav {
        margin: 13px;
    }

    .b-nav>ul {
        display: block;
        text-align: left;
        margin-left: 20px;
    }

    .b-nav>ul li {
        display: block;
    }

    .b-header__bottom {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1a3129;
        height: auto;
        z-index: 999;
        display: none;
    }

    .b-nav ul ul {
        display: none;
        background: transparent;
        position: static;
        margin-left: 10px;
        margin-top: 10px;
    }

    .b-nav ul li a {
        color: #5bae59;
        display: inline-block;
    }

    .b-nav ul li {
        padding: 5px 0;
    }

    .b-nav ul ul li a {
        padding: 0;
        border-bottom: none;
        color: #fff;
    }

    .b-nav ul li:hover ul {
        display: none;
    }

    .b-adapt-navigation .row-1,
    .b-adapt-navigation .row-2 {
        display: block;
    }

    .b-adapt-navigation .row-1 .col-1 {
        width: 15%;
        float: left;
    }

    .b-adapt-navigation .row-1 .col-2 {
        width: 70%;
        float: left;
    }

    .b-adapt-navigation .row-1 .col-3 {
        width: 15%;
        float: left;
    }


    .b-adapt-navigation .row-2 .col-sm-6 {
        float: left;
        width: 50%;
    }

    .b-header__languages-mobile,
    .b-header__town-mobile {
        display: block;
    }

    .b-nav__second-lvl {
        padding-top: 0 !important;
    }

    .b-header__contact span:first-child  {
        color: #bababa;
    }
    .b-header__contact span:last-child {
        color: #FFF;
    }

    .b-header__languages-list li a {
        color: #fff;
    }

    .b-header__languages-mobile li ul li a {
        color: #000000;
    }

    .b-header__town-title {
        color: #FFF;
    }

    .b-header__town-active a {
        color: #FFF;
    }

    .b-header__town {
        display: none;
    }
    .b-header__languages {
        display: none;
    }

    .b-adapt-navigation .b-header__languages,
    .b-adapt-navigation .b-header__town {
        display: block;
    }

    .b-header-col-4,
    .b-header-col-2 {
        display: none;
    }

    .b-header {
        padding: 20px 0;
    }

    .b-header__auth-link {
        padding: 20px 0;
        text-align: right;
    }

    .b-header__mobile-menu {
        display: block;
    }

    .b-header__search {
        display: none;
    }

    .b-nav ul li a:hover {
        background: transparent;
    }

    .b-nav li i {
        font-size: 21px;
        padding-left: 40px;
        color: #5bae59;
        cursor: pointer;
        display: inline-block;
    }

    .b-nav ul ul li a {
        font-size: 14px;
    }

    .b-slider-full-width .slick-dots {
        bottom: 20px;
    }

    .b-gel-banner .b-button-green {
        position: static;
    }

    .b-gel-banner {
        text-align: center;
    }

    .b-footer__nav ul li {
        float: none;
        margin: 10px 0;
    }

    .b-footer__nav {
        text-align: center;
    }

    .b-question-expert-item__subtitle {
        padding: 0;
    }

    .b-question-expert-item__wrapper {
        padding: 18px 64px 18px 30px;
    }

    .b-parallax-catalog {
        display: none;
    }

    .b-simple-descr .b-simple-descr__title {
        margin: 0 0 0;
    }

    .b-product-full-tabs__title {
        font-size: 23px;
    }

    .b-header__bottom .b-adapt-navigation {
        padding: 0;
        display: block;
    }

    .b-world-of-retail__what-on-platform .b-parallax-catalog__animate-el-15,
    .b-world-of-retail__what-on-platform .b-parallax-catalog__animate-el-16 {
        display: none;
    }

    .b-germes-system__text {
        width: 100%;
    }

    .site-video__sidebar>ul>li ul li a {
        padding: 10px 20px 10px 40px !important;
    }

    .site-video__content-list-title {
        font-size: 14px;
    }

    .site-video-card-banner {
        padding: 10px 0;
    }

    .site-docs__sort .col-sm-6:first-child,
    .site-docs__sort .col-sm-6:last-child {
        text-align: center;
    }

    .site-docs__sort .col-sm-6 {
        width: 100%;
    }

    .site-docs__sort {
        border: none;
    }

    .b-docs__title {
        font-size: 35px;
    }

    .site-docs__sort .b-sorting__select-style {
        margin: 10px auto;
    }

    .b-production-banner-title {
        font-size: 20px;
    }

    .b-glory__item {
        padding: 21px 20px;
    }

    .b-glory-item__img,
    .b-glory-item__number {
        margin-right: 10px;
    }

    .b-search-calendar .col-sm-4 {
        width: 100%;
        margin: 20px 0;
    }

    .b-search-calendar .col-sm-4:first-child {
        padding-left: 15px;
    }

    .b-search-calendar .col-sm-4:last-child {
        padding-right: 15px;
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    .b-header-col-1,
    .b-header-col-5 {
        width: 15%;
    }

    .b-header-col-3 {
        width: 70%;
    }

    .b-header__mobile-menu span {
        display: none;
    }

    .b-header__auth-link span {
        display: none;
    }

    .b-directions .col-sm-4 {
        margin: 20px 0;
    }

    .b-product-full-top {
        height: auto;
        background-size: contain;
    }

    .b-product-full-tabs__top ul li {
        margin: 0 0 0 0;
    }

    .b-product-full-tabs__top ul li a {
        padding: 0 27px;
    }

    .b-promo-list-sort {
        border: none;
    }

    .b-promo-list-sort .col-sm-6:first-child {
        text-align: center;
    }

    .b-promo-list-sort .col-sm-6:last-child {
        text-align: center;
    }

    .two-columns-nav-btn .col-sm-4 {
        text-align: center !important;
    }

    .horizontal-nav-soc .col-sm-6 {
        text-align: center !important;
    }

    .horizontal-nav-soc .col-sm-6:last-child .b-footer__share {
        float: none;
    }

    .horizontal-nav-soc .col-sm-6:last-child p {
        float: none;
    }

    .b-capabilities__opportunities {
        height: auto;
    }

    .b-capabilities-cash-income__wrapper {
        display: block;
    }

    .b-capabilities-opportunities__text {
        color: #000000;
    }

    .b-capabilities-advantages__wrapper .row-1
    .b-capabilities-advantages__item {
        margin: 0 auto 45px;
    }

    .b-capabilities-advantages__wrapper .row-1, .b-capabilities-advantages__wrapper .row-2 {
        display: block;
        text-align: center;
    }

    .car-programm__banner-info-text {
        width: 100%;
    }

    .car-programm__video-slider-inner {
        top:-10px;
    }

    .car-programm__video-slider-inner-play {
        top: 30%;
    }

    #car-programm-slider {
        width: 100%;
    }

    .car-programm-slider .owl-prev {
        left: 10px;
    }

    .car-programm-slider .owl-next {
        right: 10px;
    }

    .car-programm-info-text {
        width: 100%;
    }

    .car-programm__section-4-text {
        width: 100%;
    }

    .car-programm__video-slider-bg {
        background: none;
    }

    .car-programm-photo-left .col-sm-4 .col-sm-6,
    .car-programm-photo-right .col-sm-4 .col-sm-6 {
        float: left;
        width: 50%;
    }

    .car-programm-photo-left .col-sm-8 {
        margin-bottom: 15px;
    }

    .car-programm-photo-right .col-sm-8 {
        margin-top: 15px;
    }

    .car-programm-photo-left .col-sm-8 {
        padding-right: 15px;
    }

    .car-programm-photo-right .col-sm-8 {
        padding-left: 15px;
    }

    .b-parallax-germes__animate-el-20 {
        display: none;
    }

    .b-parallax-germes__animate-el-24 {
        display: none;
    }

    .b-descr-page-for-germes .b-descr-page__text {
        width: 100%;
    }

    .b-descr-page-for-germes .b-descr-page__img {
        width: 100%;
    }

    .b-parallax-germes {
        display: none;
    }

    .site-video__content-list-title {
        font-size: 17px;
    }

    .site-video__sort .col-sm-6:first-child,
    .site-video__sort .col-sm-6:last-child {
        text-align: center;
    }

    .site-video__sort .col-sm-6:first-child .b-sorting__select-style {
        margin: 0 auto;
    }

    .site-video__sort .col-sm-6:last-child .b-sorting__select-style {
        width: 170px;
        margin: 0 auto;
    }

    .b-about-full-image-inner {
        background: none;
    }

    .b-about-full-image-item {
        position: static;
        width: 100%;
        text-align: center;
    }

    .b-about-full-image-item .b-about-full-image-item-title {
        position: static;
    }

    .b-about-full-image-inner {
        height: auto;
    }

    .b-about-full-image {
        background-size: cover;
        padding: 0;
    }

    .b-about-content-banners-img {
        text-align: center;
    }

    .b-about-content-banners-img img {
        max-width: 270px;
        height: auto;
        max-height: 100%;
    }

    .b-strategy-item__table-td {
        min-height: auto;
    }

    .b-clinic-docs-img {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .b-news-nav-buttons-left {
        text-align: center;
    }

    .b-news-nav-buttons-right {
        text-align: center;
    }

    .b-news-nav .col-sm-6:first-child {
        padding-left: 15px;
    }

    .b-news-nav .col-sm-6:last-child {
        padding-right: 15px;
    }

    .b-descr-page-for-university .col-sm-6 {
        text-align: center;
    }

    .b-university-item-second .b-university-item__left-col {
        padding: 10px 0;
    }

    .b-university-item__icons {
        display: block;
    }

    .b-university-item-icons__second, .b-university-item-icons__third {
        margin: 0;
    }

    .b-university__item {
        padding: 0;
        margin-bottom: 20px;
    }

    .b-descr-page-for-university__icons {
        display: inline-block;
    }

    .b-search_product-item {
        margin: 20px 0;
    }

    .b-search-promo .col-sm-6 {
        margin: 20px 0;
    }

    .b-search-promo .col-sm-6 {
        padding-left: 0;
    }

    .b-search-promo .col-sm-6 {
        padding-right: 0;
    }

    .b-search-news .col-sm-4 {
        margin: 20px 0;
    }

    .b-search-news .col-sm-4:first-child {
        padding-left: 15px;
    }

    .b-search-news .col-sm-4:last-child {
        padding-right: 15px;
    }

    .b-news-feed .row-1-2 .col-sm-6:first-child,
    .b-news-feed .row-1-4 .col-sm-6:first-child {
        padding-right: 0;
    }

    .b-news-feed .row-1-2 .col-sm-6:last-child,
    .b-news-feed .row-1-4 .col-sm-6:last-child {
        padding-left: 0;
    }

    .b-germes-system__wrapper .col-sm-6:first-child .b-germes-system__item {
        margin: 0 auto 50px;
    }

    .b-germes-system__wrapper .col-sm-6:last-child .b-germes-system__item {
        margin: 0 auto 50px;
    }

    .b-product-full-top {
        background: url("/vertera/img/bgs/bg-product-card-mobile.png") no-repeat top center;
        min-height: 894px;
        background-size: cover;
    }

    .b-glory-item__number {
        margin-bottom: 10px;
    }

    .b-descr-page-for-university-icons__first,
    .b-descr-page-for-university-icons__second,
    .b-descr-page-for-university-icons__third {
        margin-bottom: 10px;
    }

    .two-columns-nav-btn .two-columns-nav-btn__prev {
        display: none;
    }

    .two-columns-nav-btn .two-columns-nav-btn__next {
        display: none;
    }

    .two-columns-nav .container>.row .col-sm-6 .two-columns-nav-btn__prev,
    .two-columns-nav .container>.row .col-sm-6 .two-columns-nav-btn__next {
        display: inline-block;
    }

    .two-columns-nav .container>.row .col-sm-6 {
        text-align: center;
    }

    .b-news-nav-buttons-left,
    .b-news-nav-buttons-right {
        display: none;
    }

    .b-news-nav-item .b-news-nav-buttons-left,
    .b-news-nav-item .b-news-nav-buttons-right {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 540px) {
    .container {
        width: 320px;
    }

    .b-header__contact span:last-child {
        font-size: 11px;
    }

    .b-slider-full-width {
        height: 170px;
    }

    .b-question-expert__title {
        font-size: 31px;
    }

    .b-reviews__title {
        font-size: 25px;
    }

    .b-footer__copyright {
        text-align: center;
    }

    .b-footer__share {
        margin-top: 10px;
        text-align: center;
    }

    .b-banner-nervo h2 {
        font-size: 20px;
    }

    .b-sorting label {
        display: block;
        text-align: center;
    }

    .b-sorting label .b-sorting__width-170 {
        width: 100%;
    }

    .b-product-full__title {
        font-size: 40px;
    }

    .b-product-full__price-number-share,
    .b-product-full__button-article {
        display: block;
        margin: 30px 0;
    }

    .b-product-full__button .b-button {
        padding: 0 15px;
    }

    .b-product-full-tabs__top ul {
        display: block;
    }

    .b-product-full__add-info-bg {
        padding: 200px 0 0 0;
    }

    .b-promo-list-sort .col-sm-6:first-child .b-sorting__select-style {
        margin: 0 auto;
    }

    .b-promo-list-sort .col-sm-6:last-child .b-sorting__select-style {
        width: 170px;
        margin: 0 auto;
    }

    .b-directions__text {
        display: none;
    }

    .b-descr-page__title {
        font-size: 22px;
    }

    .b-descr-page__options {
        display: inline-block;
    }

    .b-descr-page__events {
        margin: 10px 0;
    }

    .b-descr-page__date,
    .b-descr-page__events {
        border: none;
    }

    .b-card-promo-advantages__title {
        font-size: 17px;
    }

    .b-full-width-video-promo .b-full-width-video-promo__title {
        font-size: 26px;
    }

    .two-columns-nav-img-text {
        font-size: 12px;
        padding: 0 20px;
    }

    .b-reviews-slider__prev, .b-reviews-slider__next {
        top: 15%;
    }

    .b-descr-page-promo-typical__title {
        /* font-size: 32px; */
        font-size: 20px;
    }

    .b-descr-page__events, .b-descr-page__share {
        margin: 0;
        padding: 0;
    }

    .b-capabilities-promo__title {
        font-size: 30px;
    }

    .b-capabilities-cash-income__title {
        font-size: 30px;
    }

    .b-parallax-capabilities__animate-el-13 {
        display: none;
    }

    .b-parallax-capabilities__animate-el-14 {
        display: none;
    }

    .b-capabilities-advantages__title {
        font-size: 30px;
    }

    .b-capabilities-advantages__wrapper .row-1
    .b-capabilities-advantages__item {
        width: 100%;
    }

    .b-capabilities-advantages__wrapper .row-2
    .b-capabilities-advantages__item {
        width: 100%;
    }

    .b-descr-page-for-world-of-retail .b-descr-page__title {
        font-size: 20px;
    }

    .b-world-of-retail-invite-platform__title-with-icon {
        font-size: 25px;
    }

    .car-programm__video-slider-inner {
        top: 0;
    }

    .car-programm__video-slider-inner-play {
        top: 10%;
    }

    .car-programm-photo-left .col-sm-4 img,
    .car-programm-photo-right .col-sm-4 img {
        width: 100%;
    }

    .b-faq-item__subtitle {
        padding: 0 20px 0 0;
    }

    .b-faq-form {
        max-width: 280px;
        padding: 20px;
        height: auto;
    }

    .b-faq-form textarea {
        min-height: 100px;
    }

    .b-faq-form-close {
        top: 15px;
        right: 15px;
    }

    .site-video-banner__title {
        font-size: 27px;
    }

    .b-calendar__title {
        font-size: 32px;
    }

    .site-event-title {
        font-size: 32px;
    }

    .site-event-info-cat-date {
        display: block;
    }

    .site-event-info-cat {
        display: table;
        margin: 0 auto;
    }

    .b-contacts-title {
        font-size: 25px;
    }

    .b-contacts-picap {
        display: block;
    }

    .b-contacts-soc span {
        display: block;
    }

    .b-philosophy-principles__list li {
        display: block;
    }

    .b-philosophy-principles__list-wrapper  {
        margin: 0;
    }

    .b-full-width-video-medecine .b-full-width-video-medecine__title {
        font-size: 25px;
    }

    .b-clinic-test__title {
        font-size: 32px;
    }

    .b-full-width-video-production .b-full-width-video-production__title {
        font-size: 27px;
    }

    .b-production-descr__title {
        font-size: 22px;
    }

    .b-production .row-1 {
        margin: 20px 0;
    }

    .b-production-banner {
        margin: 150px 0 40px 0;
    }

    .b-production .row-2 {
        margin: 20px 0;
    }

    .b-production-banner-img {
        height: 170px;
    }

    .b-leaders__subtitle, .b-leaders__title {
        font-size: 18px;
    }

    .b-glory__item {
        display: block;
        text-align: center;
    }

    .b-glory-item__label {
        position: static;
    }

    .b-descr-page-for-university .b-descr-page__banner {
        bottom: 80px;
    }

    .b-university__wrapper {
        margin: 40px 0 30px;
    }

    .b-search__form {
        display: block;
    }

    .b-search__subtitle,
    .b-search-promo__subtitle,
    .b-search-news__subtitle,
    .b-search-calendar__subtitle {
        font-size: 32px;
    }

    .b-science-article-title {
        font-size: 21px;
    }

    .b-science__title {
        font-size: 32px;
    }

    .b-science-list-title a {
        font-size: 21px;
    }

    .b-news-feed .row-1 .row-1-1, .b-news-feed .row-1 .row-1-3 {
        display: block;
    }

    .b-news-feed__all-news-link {
        margin: 15px 0 0 0;
    }

    .b-slider-full-width .slick-arrow.slick-prev,
    .b-slider-full-width .slick-arrow.slick-next {
        display: none !important;
    }

    .b-descr-page-for-catalog .b-descr-page__text {
        display: none;
    }

    .b-quote-for-catalog {
        display: none;
    }

    .b-text-two-cols-for-catalog {
        display: none;
    }

    .b-descr-page__events {
        margin: 10px 0;
    }

    .b-faq__title {
        font-size: 32px;
    }

    .b-faq .b-button-question {
        float: none;
        margin-bottom: 20px;
    }

    .b-news-feed {
        display: none;
    }

    .b-directions {
        display: none;
    }

    .b-sales-leaders .col-sm-3 {
        float: left;
        width: 50%;
    }

    .b-owl-slider-mobile-wrap {
        display: block;
    }

    .b-sales-leaders>.container>.row>div.col-sm-6 {
        width: 100%;
        padding: 0;
    }

    .b-sales-leaders>.container>.row>div.col-sm-6 .col-sm-6 {
        width: 50%;
        float: left;
    }

    .b-catalog__item_subtitle {
        font-size: 14px;
    }

    .b-catalog__item_text {
        font-size: 10px;
    }

    .horizontal-line-link .row-1 a {
        font-size: 12px;
        letter-spacing: 0;
    }

    .horizontal-line-link .row-2 {
        top: -18px;
    }

    .b-sales-leaders__title {
        font-size: 28px;
    }

    .b-reviews-video-list {
        display: none;
    }

    .b-question-expert {
        display: none;
    }

    .b-photostack {
        display: none;
    }

    .b-descr-page-for-catalog .b-descr-page__substrate-bg {
        padding: 20px 0 20px;
    }

    .b-catalog>.container>.row>.col-sm-3 {
        display: none;
    }

    .b-catalog .b-sorting {
        margin-left: -15px;
        margin-right: -15px;
    }

    .b-catalog .b-sorting label {
        display: block;
        text-align: left;
        font-size: 14px;
        font-family: "Helvetica Neue";
        opacity: .7;
        color: #1a3129;
    }

    .b-catalog .b-sorting .b-sorting__select-style {
        margin: 10px 0;
    }

    .b-catalog {
        padding: 0 0 30px;
    }

    .b-catalog-mobile-menu {
        display: block;
    }

    .b-banner-nervo-img {
        display: none;
    }

    .b-banner-nervo h2 {
        margin: 10px 0 10px 0;
        font-size: 17px;
        text-align: center;
        color: #ebf2c7;
        font-family: "Playfair Display";
    }

    .b-banner-nervo {
        padding: 50px 0;
        background: url("/vertera/img/bgs/bg-catalog-mobile.png") no-repeat top center;
        background-size: cover;
    }

    .b-banner-nervo-btn {
        text-align: center;
        margin-top: 20px;
    }

    .b-banner-nervo-btn a {
        font-family: "Helvetica Neue Bold";
        font-size: 10px;
        color: #ffffff;
        padding: 15px 30px;
    }

    .b-simple-descr__title {
        font-size: 18px;
        margin: 20px 0 !important;
    }

    .b-simple-descr__text p {
        font-size: 12px;
        color: #1a3129;
        font-family: "Helvetica Neue";
    }

    .b-product-full__back-to-list {
        display: none;
    }

    .b-product-full .b-breadcrumbs {
        top: 5px;
    }

    .b-product-full__price p:last-child {
        font-size: 28px;
    }

    .b-product-full__number, .b-product-full__price, .b-product-full__balls {
        margin: 0 25px 0 0;
        float: left;
    }

    .b-product-full__balls p:last-child {
        font-size: 28px;
    }

    .b-product-full__number p:last-child {
        font-size: 28px;
    }

    .b-product-full__number {
        margin: 0;
    }

    .b-product-full__share {
        margin-top: 10px;
    }

    .b-product-full__article {
        position: absolute;
        bottom: 120px;
        right: 60px;
    }

    .b-product-full__button {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .b-product-full-tabs__top-mobile {
        margin-left: -15px;
        margin-right: -15px;
    }

    .b-product-full-tabs__top-mobile .b-sorting__select-style {
        margin: 20px 0;
    }

    .b-product-full-tabs__top {
        display: none;
    }

    .b-product-full-info-img {
        display: none;
    }

    .b-product-full-info-icons {
        display: block;
    }

    .b-product-full-info-icons .row {
        width: 50%;
        float: left;
        margin: 20px 0;
    }

    .b-product-full__add-info-bg {
        padding: 0;
    }

    .b-product-full__add-info-bg {
        position: relative;
        background: url("/vertera/img/bgs/bg-orange-2.png") no-repeat top center;
        background-size: cover;
    }

    .b-product-full__add-info-bg .col-sm-6 {
        float: left;
    }

    .b-product-full__add-info-bg .col-sm-6:first-child {
        width: 40%;
    }

    .b-product-full__add-info-bg .col-sm-6:last-child {
        width: 60%;
        padding: 50px 0 20px 5px;

    }

    .b-product-full-add-info-bg__title {
        color: #ffffff;
        font-size: 16px;
        font-family: "Playfair Display";
        padding-top: 16px;
        padding-left: 60px;
    }

    .b-product-full-add-info-bg__text {
        color: #ffffff;
        font-size: 10px;
    }

    .b-product-full-add-info-bg__text {
        width: 100%;
    }

    .b-product-full-add-info-bg__img-small {
        margin: 0;
        float: left;
        width: 50px;
    }

    .b-certificates {
        margin: 20px 0;
    }

    .b-certificates .col-sm-6 .col-sm-6 {
        width: 50%;
        float: left;
        padding: 0 5px;
        margin: 20px 0;
    }

    .b-certificates__item p {
        font-size: 10px;
        color: #000000;
        opacity: .8;
    }

    .b-certificates__item .b-certificates__item-title {
        font-family: "Helvetica Neue";
        font-size: 12px;
    }

    .b-certificates .b-reviews__title {
        font-size: 28px;
    }

    .b-product-full-tabs__top-mobile {
        display: block;
    }

    .b-certificates__title, .b-product-full-mnml-catalog__title {
        font-size: 28px;
    }

    .b-product-full__mnml-catalog .col-sm-6 .col-sm-6 {
        width: 50%;
        float: left;
        padding: 0;
    }

    .document-list-img {
        margin-top: 20px;
    }

    .b-production-slider-nav .slick-next,
    .b-production-slider-nav .slick-prev {
        top: 18px;
    }

    .b-university__title span {
        margin-top: 20px;
        display: inline-block;
    }

    .b-descr-page-for-university__icons {
        display: block !important;
    }
}

@media (min-width: 540px) and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .b-slider-full-width {
        height: 350px;
    }

    .b-footer__copyright {
        text-align: center;
    }

    .b-footer__share {
        margin-top: 10px;
        text-align: center;
    }

    .b-banner-nervo h2 {
        font-size: 27px;
    }

    .b-product-full-add-info-bg__img-big {
        top: 0;
        width: 394px;
        margin: 0;
    }

    .b-product-full__add-info-bg {
        padding: 0 0 30px 0;
    }

    .b-product-full__number, .b-product-full__price, .b-product-full__balls {
        margin: 0 40px 0 0;
    }

    .b-reviews-video-list-img-play {
        top: 130px;
    }

    .b-descr-page__title {
        font-size: 32px;
    }

    .b-full-width-video-promo .b-full-width-video-promo__title {
        font-size: 37px;
    }

    .car-programm-photo-more a {
        font-size: 17px;
        padding-top: 60px;
    }

    .b-philosophy-principles__icon-business,
    .b-philosophy-principles__icon-people,
    .b-philosophy-principles__icon-products,
    .b-philosophy-principles__icon-technology  {
        width: 140px;
    }

    .b-full-width-video-medecine .b-full-width-video-medecine__title {
        font-size: 37px;
    }

    .b-descr-page-for-university .b-descr-page__banner {
        bottom: -110px;
    }

    .b-university__wrapper {
        margin: 130px 0 30px;
    }

    .b-science-article-title {
        font-size: 28px;
    }

    .b-product-full__button-article {
        margin-bottom: 20px;
    }

    .b-product-full__add-info-bg .col-sm-6 {
        width: 50%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .container {
        width: 750px;
    }

    .b-header-col-1,
    .b-header-col-5 {
        width: 20%;
        float: left;
    }

    .b-header-col-3 {
        width: 60%;
        float: left;
    }

    .b-slider-full-width {
        height: 450px;
    }

    .b-news-feed .col-sm-3 {
        width: 50%;
    }

    .b-directions__text {
        display: none;
    }

    .b-catalog__item_subtitle {
        font-size: 15px;
    }

    .b-sidebar>ul>li ul li a {
        font-size: 12px;
        padding: 10px 0;
    }

    .b-banner-nervo h2 {
        font-size: 20px;
    }

    .b-product-full__title {
        font-size: 45px;
    }

    .b-product-full__number,
    .b-product-full__price,
    .b-product-full__balls {
        margin: 0 10px 0 0;
    }

    .b-product-full__number p:last-child,
    .b-product-full__price p:last-child,
    .b-product-full__balls p:last-child {
        font-size: 25px;
    }

    .b-product-full__button {
        margin: 0 10px 0 0;
    }

    .b-product-full__button a {
        padding: 0 20px;
    }

    .b-product-full-tabs__top ul li {
        margin: 0;
    }

    .b-product-full-tabs__top ul li a.b-button-green {
        font-size: 11px;
        padding: 0 18px;
    }

    .b-product-full-tabs__title {
        font-size: 22px;
    }

    .b-product-full__add-info-bg {
        padding: 127px 0 0 0;
    }

    .b-product-full-add-info-bg__img-small {
        margin: 40px 0 0;
    }

    .b-product-full-add-info-bg__title {
        margin: 0;
    }

    .b-reviews-video-list-img-play {
        top: 17px;
    }

    .b-reviews-video-list-name {
        font-size: 16px;
    }

    .b-reviews-slider__text {
        line-height: 17px;
    }

    .b-capabilities-cash-income__wrapper {
        width: 100%;
    }

    .b-capabilities-advantages__wrapper .row-1, .b-capabilities-advantages__wrapper .row-2 {
        display: inline-flex;
    }

    .car-programm__banner-info-img img {
        width: 100%;
    }

    .car-programm__video-slider-inner-play {
        top: 35%;
    }

    .car-programm-photo-left .col-sm-8, .car-programm-photo-right .col-sm-8 {
        max-height: 281px;
    }

    .car-programm-photo-more a {
        padding-top: 23px;
        font-size: 11px;
    }

    .b-parallax-germes__animate-el-24 {
        right: -19%;
    }

    .b-parallax-germes__animate-el-20 {
        left: -26%;
    }

    .b-germes-modes-item__inner-wrapper {
        padding: 0;
    }

    .site-video__sort label {
        font-size: 12px;
    }

    .site-video__sort .b-sorting__select-style,
    .site-video__sort .b-sorting__select-style select {
        font-size: 12px;
    }

    .site-video-another-video-item-title a {
        font-size: 15px;
    }

    .b-sorting-calendar .col-sm-3 {
        width: 50%;
    }

    .b-calendar-list .col-sm-3 {
        width: 50%;
    }

    .site-event-info .col-sm-7,
    .site-event-info .col-sm-5 {
        width: 100%;
    }

    .b-about-full-image-item-1 {
        top: -70px;
        left: 303px;
    }

    .b-about-full-image-item-2 {
        top: 200px;
        left: -74px;
    }

    .b-about-full-image-item-3 {
        top: 431px;
        left: -84px;
    }

    .b-about-full-image-item-4 {
        top: 165px;
        left: 273px;
    }

    .b-about-full-image-item-5 {
        top: 311px;
        left: 116px;
    }

    .b-about-full-image-item-6 {
        top: 310px;
        left: 436px;
    }

    .b-about-full-image-item-7 {
        top: 450px;
        left: 296px;
    }

    .b-about-full-image-item-8 {
        top: 200px;
        left: 636px;
    }

    .b-about-full-image-item-9 {
        top: 430px;
        left: 626px;
    }

    .b-philosophy-principles__icon-business,
    .b-philosophy-principles__icon-people,
    .b-philosophy-principles__icon-products,
    .b-philosophy-principles__icon-technology  {
        width: 140px;
    }

    .b-strategy-item__table-td {
        min-height: 802px;
    }

    .b-descr-page-for-university__title {
        font-size: 28px;
    }

    .b-descr-page-for-university__icons {
        display: block;
    }

    .b-descr-page-for-university__icons p {
        margin-bottom: 10px;
    }

    .b-university-item-second .b-university-item__left-col {
        padding: 20px 0;
    }

    .b-news-feed__title {
        font-size: 22px;
    }

    .b-product-full__add-info-bg {
        padding: 31px 0;
    }

    .b-production-slider-nav .slick-next,
    .b-production-slider-nav .slick-prev {
        top: 26px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .b-header .col-md-2,
    .b-header .col-md-4 {
        padding: 0;
    }

    .b-button-green-border {
        padding: 0 23px;
    }

    .b-nav>ul>li>a {
        font-size: 14px;
    }

    .b-footer__nav ul {
        text-align: center;
    }
    .b-header__bottom {
        display: block !important;
    }

    .b-slider-full-width {
        height: 500px;
    }

    .b-news-feed__subtitle {
        font-size: 16px;
    }

    .b-gel-banner .b-button-green {
        left: 192px;
        bottom: 63px;
    }

    .b-product-full-tabs__top ul li {
        margin: 0;
    }

    .b-product-full__number, .b-product-full__price, .b-product-full__balls {
        margin: 0 30px 0 0;
    }

    .b-directions__item {
        padding: 10px 16px;
    }

    .b-directions__text {
        font-size: 12px;
    }

    .b-reviews-video-list-img-play {
        top: 35px;
    }

    .car-programm-photo-left .col-sm-8, .car-programm-photo-right .col-sm-8 {
        height: 370px;
    }

    .car-programm-photo-more a {
        padding-top: 30px;
    }

    .b-germes-modes-item__inner-wrapper {
        padding: 43px 0 0;
    }

    .site-event-info-date {
        margin-left: 13px;
    }

    .b-about-full-image-item-1 {
        top: -60px;
        left: 416px;
    }

    .b-about-full-image-item-2 {
        top: 270px;
        left: -54px;
    }

    .b-about-full-image-item-3 {
        top: 555px;
        left: -64px;
    }

    .b-about-full-image-item-4 {
        top: 245px;
        left: 384px;
    }

    .b-about-full-image-item-5 {
        top: 415px;
        left: 186px;
    }

    .b-about-full-image-item-6 {
        top: 410px;
        left: 576px;
    }

    .b-about-full-image-item-7 {
        top: 560px;
        left: 409px;
    }

    .b-about-full-image-item-8 {
        top: 270px;
        left: 836px;
    }

    .b-about-full-image-item-9 {
        top: 560px;
        left: 846px;
    }

    .b-philosophy-principles__icon-business,
    .b-philosophy-principles__icon-people,
    .b-philosophy-principles__icon-products,
    .b-philosophy-principles__icon-technology  {
        width: 130px;
    }

    .b-strategy-item__table-td {
        min-height: 602px;
    }

    .b-sorting__select-style, .b-sorting__select-style select {
        font-size: 12px;
    }

    .b-descr-page-for-university__title {
        font-size: 32px;
    }

    .b-descr-page-for-university__icons p {
        margin-right: 0;
    }

    .b-footer__nav ul li {
        margin-right: 30px;
    }

    .b-product-full__add-info-bg {
        padding: 44px 0;
    }
}

@media (min-width: 992px) {
    .b-header__bottom {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .b-parallax-germes__animate-el-20 {
        top: 30%;
        left: -22.5%;
    }

    .b-parallax-germes__animate-el-24 {
        top: 62%;
        right: -18%;
    }
}


