/* STYLES FOR POLAROID GALLERY*/
.photostack {
    margin: 40px 0;
}

.photostack svg {
    fill: red !important;
}

.photostack .nav-btn {
    width: 67px;
    border-radius: 4px;
    height: 128px;
    z-index: 188;
    display: block;
    position: absolute;
    cursor: pointer;
    transition: all .5s ease;
    opacity: 0.65;
}

.photostack .nav-btn:hover {
    opacity: 1;
}

.photostack .nav-btn:after,
.photostack .nav-btn:before {
    display: none;
}

.photostack .nav-btn_left {
    top: 44%;
    left: 0;
    background-image: url(../images/icons-sprite.png);
    background-position: -905px 0;
    width: 49px;
    height: 99px;
}

.photostack .nav-btn_right {
    top: 44%;
    right: 0;
    background-image: url(../images/icons-sprite.png);
    background-position: -644px -168px;
    width: 50px;
    height: 99px;
}

.photostack__header {
    display: none;
    font-size: 60px;
    letter-spacing: -1px;
    color: #fff;
    font-family: 'glober-light';
    position: absolute;
    top: 33%;
    z-index: 999;
    text-align: center;
    width: 100%;
}

.photostack .default-btn {
    background: #fff;
    display: none;
}

.photostack .default-btn_transparent {
    position: absolute;
    top: 350px;
    z-index: 999;
    background: transparent;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    height: 62px;
}

.photostack.photostack_wide-img figure {
    width: 574px;
    height: 439px;
    padding: 0;
}

.photostack.photostack_wide-img figure .photostack-img {
    width: 520px;
    height: 255px;
    margin: 35px auto 0;
    cursor: default;
}

.photostack.photostack_wide-img figure .photostack-title {
    margin: 0;
}

.photostack.photostack_wide-img figcaption {
    height: 150px;
}

.photostack.photostack_wide-img figcaption .image-header {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.photostack.photostack_wide-img figure.photostack-current {
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.photostack.photostack_wide-img .photostack-img-item {
    display: block;
    background-size: cover !important;
    height: 100%;
}

.photostack.photostack_wide-img .default-btn_photostack {
    top: -80px;
}

.overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat;
    /* ie fallback png background image */
    z-index: 999999999;
    color: white;
    display: none;
}

.visible-overlay {
    display: block;
}

.blured {
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

.close-btn {
    position: absolute;
    top: 0;
    left: 80%;
    font-size: 72px;
    font-weight: 100;
    cursor: pointer;
    font-family: Garamond, "Apple Garamond";
}

.js-video {
    display: none;
}

.js-video.visible {
    display: block;
}

.js-video {
    height: 420px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 760px;
    margin: 80px auto;
}

.js-video.widescreen {
    padding-bottom: 56.34%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed,
.js-video iframe,
.js-video object,
.js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.photostack-title {
    display: block;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 1.3;
    margin: 18px 0 0 0;
    color: #1a3129;
}

.photostack-name {
    font-size: 14px;
    font-family: 'Helvetica Neue Medium';
    margin-top: 5px;
    color: #1a3129;
    margin-bottom: 20px;
}

.photostack {
    background: url('../images/slider-bg.png') no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.photostack .nav-btn {
    display: none;
}

.photostack-transition .default-btn {
    display: inline-block;
}

.photostack-transition .nav-btn {
    display: block;
}

.photostack-transition .default-btn_transparent {
    display: none;
}

.photostack nav {
    display: none;
}

.js .photostack {
    height: 650px;
}

.photostack-start {
    cursor: pointer;
}

.photostack-start .default-btn_transparent {
    display: inline-block;
}

.photostack-start .photostack__header {
    display: block;
}

/* Wrapper and figures */
/* The size of this wrapper can be smaller if the items should not be scattered across the whole container */
.photostack > div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.photostack figure {
    width: 320px;
    height: auto;
    position: relative;
    display: inline-block;
    background: #fff;
    text-align: center;
    margin: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.js .photostack figure {
    position: absolute;
    display: block;
    margin: 0;
}

.photostack figcaption h2 {
    margin: 20px 0 0 0;
}

.play-btn {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 86px;
    left: 129px;
    background: url('../images/play.png') no-repeat;
    background-size: cover;
    cursor: pointer;
}

.photostack-img {
    outline: none;
    display: block;
    width: 100%;
    height: auto;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
}

.photostack-img:hover .play-btn {
    display: block;
}

.photostack-img img {
    width: 100%;
    height: auto;
}

.photostack-back {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    font-family: "Give You Glory", cursive;
    color: #a7a0a2;
    padding: 50px 40px;
    text-align: left;
    font-size: 22px;
    line-height: 1.25;
    z-index: 1;
}

.photostack-back p {
    margin: 0;
}

.photostack-back p span {
    text-decoration: line-through;
}

/* Navigation dots */
.photostack nav {
    position: absolute;
    width: 100%;
    bottom: 30px;
    z-index: 90;
    text-align: center;
    left: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.photostack-start nav {
    opacity: 0;
}

.photostack nav span {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #aaa;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s ease-in-out, background 0.3s;
    transition: transform 0.6s ease-in-out, background 0.3s;
    -webkit-transform: scale(0.48);
    transform: scale(0.48);
}

.photostack nav span:last-child {
    margin-right: 0;
}

.photostack nav span::after {
    content: "\e600";
    font-family: 'icons';
    font-size: 80%;
    speak: none;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 30px;
    color: #fff;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.photostack nav span.current {
    background: #888;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.photostack nav span.current.flip {
    -webkit-transform: scale(1) rotateY(-180deg) translateZ(-1px);
    transform: scale(1) rotateY(-180deg) translateZ(-1px);
    background: #555;
}

.photostack nav span.flippable::after {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

/* Overlays */
/* Initial overlay on photostack container */
.js .photostack::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.js .photostack-start::before {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* Button on photostack container */
.js .photostack::after {
    content: '';
    display: none !important;
}

.js .photostack::before,
.js .photostack::after {
    opacity: 0;
    visibility: hidden;
}

.js .photostack-start::before,
.js .photostack-start:hover::after,
.touch .photostack-start::after {
    opacity: 1;
    visibility: visible;
}

/* Overlay on figure */
.photostack figure::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.05);
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

/* Hide figure overlay when it becomes current */
figure.photostack-current::after {
    -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
    transition: opacity 0.6s, visibility 0s 0.6s;
    opacity: 0;
    visibility: hidden;
}

/* Special classes for transitions and perspective */
.photostack-transition figure {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.photostack-perspective {
    -webkit-perspective: 1800px;
    perspective: 1800px;
}

.photostack-perspective > div,
.photostack-perspective figure {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.photostack-perspective figure,
.photostack-perspective figure div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.photostack-perspective figure.photostack-flip {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.csstransformspreserve3d figure.photostack-flip .photostack-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: block;
}

.no-csstransformspreserve3d figure.photostack-showback .photostack-back {
    display: block;
}

/* The no-JS fallback look does not need to be boring ;) */
.no-js .photostack figure {
    box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.05);
}

.no-js .photostack figure::after {
    display: none;
}

.no-js .photostack figure:nth-child(3n) {
    -webkit-transform: translateX(-10%) rotate(5deg);
    transform: translateX(-10%) rotate(5deg);
}

.no-js .photostack figure:nth-child(3n-2) {
    -webkit-transform: translateY(10%) rotate(-3deg);
    transform: translateY(10%) rotate(-3deg);
}