@charset "UTF-8";
/*----------  Для анимации  ----------*/
/*----------  Для Разных разрешений  ----------*/
.align_center, .tac {
    text-align: center !important;
}

.align_left, .tal {
    text-align: left !important;
}

.align_right, .tar {
    text-align: right !important;
}

.f-right {
    float: right;
}

.ttu {
    text-transform: uppercase;
}

.ml30 {
    margin-left: 47px;
    margin-top: 25px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

a {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: "Rub";
    src: url("../fonts/rouble.otf");
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url("../fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url("../fonts/helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url("../fonts/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.rub {
    font-family: 'Rub';
    font-style: normal;
}

strong {
    font-weight: normal;
    font-family: 'helveticaneuecyrbold';
}

.navbar {
    border: none;
    padding-top: 30px;
    background: #fff;
    -moz-border-radius: 100% / 50%;
    -webkit-border-radius: 100% / 50%;
    border-radius: 100% / 50%;
}

.navbar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: #fff;
    top: 0;
    left: 0;
}

@media (max-width: 767px) {
    .navbar {
        padding-top: 15px;
        max-height: 70px;
    }

    .navbar div#bs-example-navbar-collapse-1 {
        background-color: #fff;
        width: 112%;
        top: -42px;
        position: relative;
    }
}

.navbar-nav {
    float: none;
    width: 100%;
    text-align: center;
}

.navbar-nav a {
    font-family: 'helveticaneuecyrmedium';
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
    color: #165a42;
}

@media (max-width: 1000px) {
    .navbar-nav a {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .navbar-nav a {
        font-size: 15px;
    }
}

.navbar-nav ul {
    text-align: center;
    display: inline-block;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

.navbar-nav li a {
    color: #165a42 !important;
}

.navbar-nav li a:hover {
    color: #58af55 !important;
}

@media (max-width: 767px) {
    .navbar-nav li {
        float: left;
        display: block;
    }
}

@media (max-width: 1199px) {
    .navbar-nav {
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .navbar-header {
        position: relative;
        top: -35px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        border: none !important;
        margin-top: -30px;
    }
}

.header--logo {
    font-family: 'Playfair Display';
    font-size: 12px;
    color: rgba(22, 90, 66, 0.8);
}

.header--logo img {
    margin-bottom: 5px;
}

.header--logo p {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .header--logo {
        position: relative;
        top: 3px;
    }
}

.header--helper em {
    font-style: normal;
    color: #165a42;
    font-size: 11px;
}

.header--helper p {
    margin-bottom: 0;
}

.header--helper span {
    color: rgba(22, 90, 66, 0.5);
    font-size: 11px;
}

.header--helper strong {
    border-bottom: 1px dashed;
    color: #165a42;
    font-family: "helveticaneuecyrbold";
    font-weight: normal;
    font-size: 14px;
}

/* footer ul {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

footer ul li {
  display: inline-block;
  text-align: justify;
  padding-left: 28px;
  padding-right: 28px;
}

footer ul li a {
  display: inline-block;
  padding: 15px;
  font-family: "Playfair Display";
  font-size: 14px;
  text-transform: uppercase;
  color: #1a1b20;
  text-decoration: none;
} */

footer ul li a:hover {
    color: #000;
}

.img-line {
    position: relative;
    padding-bottom: 20px;
}

.img-line:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 31px;
    height: 1px;
    background: #000;
}

.img-line img {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
}

html {
    height: 100%;
}

html, body {
    background: #fff;
    font-family: "helveticaneuecyrroman";
}

a {
    color: #165a42;
}

.img-responsive {
    display: inline-block;
}

.test {
    min-height: 1100px;
}

.bn {
    display: inline-block;
    border: 2px solid #58af55;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 11px;
    font-family: "helveticaneuecyrmedium";
    color: #58af55;
    text-transform: uppercase;
    position: relative;
}

.bn:hover {
    border-color: #165a42;
}

.bn-lk {
    border: none;
    padding-top: 12px;
}

.bn-lk:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 9px;
    background: url("../images/ico-lk.png") 50% 50% no-repeat;
    width: 19px;
    height: 18px;
}

.bn-fill {
    background: #58af55;
    color: #fff !important;
    font-size: 12px !important;
    font-family: "helveticaneuecyrbold";
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bn-fill:hover {
    background: #165a42;
    border-color: #165a42;
}

.bn-small {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 20px;
}

.bn-oliva {
    background-color: #c6de89;
    border-color: #c6de89;
    color: #000 !important;
}

.bn-oliva:hover {
    color: #fff !important;
}

.bn-sal {
    background-color: #76b763;
    border-color: #76b763;
}

.pre-h1 {
    text-transform: uppercase;
    font-size: 13px !important;
    font-family: "helveticaneuecyrbold";
    color: #fff;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.screen--01 {
    margin-top: 150px;
    background: url("../../images/screen--01.png") top center no-repeat;
    min-height: 745px;
    font-family: "Playfair Display";
    color: #1a3129;
    font-size: 11px;
    padding-top: 90px;
}

@media (max-width: 1000px) {
    .screen--01 {
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .screen--01 {
        margin-top: 70px;
    }
}

.screen--01 a {
    color: #58af55;
}

.screen--01 h1 {
    color: #fff;
    margin-top: 0;
    text-align: center;
    font-size: 179px;
    font-weight: bold;
}

.screen--01 h1 small {
    display: inline-block;
    font-size: 28px;
    color: #fff;
    text-align: left;
    position: absolute;
    line-height: 40px;
    margin-top: 45px;
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .screen--01 h1 {
        font-size: calc(7em + 0.1vw);
    }

    .screen--01 h1 small {
        display: block;
        position: relative;
    }
}

.screen--01 p {
    text-transform: uppercase;
    line-height: 14px;
    font-size: 11px;
    margin-bottom: 35px;
}

.screen--01 p img {
    margin-bottom: 10px;
}

.screen--02 {
    padding-top: 150px;
}

@media (max-width: 768px) {
    .screen--02 {
        padding-top: 50px;
    }
}

.screen--02 h2 {
    font-family: "Playfair Display";
}

.screen--03 {
    padding-bottom: 100px;
}

.screen--04 h2 {
    margin-bottom: 35px !important;
}

.screen--04 .container {
    background: url("../../images/screen--04.png") 15% 50% no-repeat;
}

@media (max-width: 768px) {
    .screen--04 .container {
        background: none;
        padding-bottom: 50px;
    }
}

.screen--05 h2 {
    margin-bottom: 35px !important;
}

.screen--05 .container {
    padding-top: 30px;
    background: url("../../images/screen--05.png") 45% 50% no-repeat;
    padding-bottom: 170px;
}

@media (max-width: 768px) {
    .screen--05 .container {
        background: none;
        padding-bottom: 50px;
    }
}

.screen--06 h2 {
    margin-bottom: 35px !important;
}

.screen--06 .container {
    padding-top: 30px;
    background: url("../../images/screen--06.png") 43% 50% no-repeat;
    padding-bottom: 170px;
}

@media (max-width: 768px) {
    .screen--06 .container {
        background: none;
        padding-bottom: 50px;
    }
}

.screen--08 {
    padding-top: 20px;
    padding-bottom: 100px;
}

.screen--10 {
    padding-bottom: 70px;
}

.screen--10 h2, .screen--11 h2 {
    margin-bottom: 50px !important;
}

.screen--11.coso {
    margin-bottom: -30px !important;
}

.screen--12 {
    margin-top: -15px;
    /* margin-bottom: 160px; */
    color: #fff;
    background: url("../../images/grad.png") top center no-repeat;
    background-size: cover;
    min-height: 710px;
    font-family: "Playfair Display";
    color: #1a3129;
    font-size: 11px;
    padding-top: 90px;
    padding-bottom: 60px;
}

.screen--12 a {
    color: #fff;
}

.screen--12 h1 {
    color: #fff;
    margin-top: 0;
    text-align: center;
    font-size: 179px;
    font-weight: bold;
}

.screen--12 h1 small {
    display: inline-block;
    font-size: 28px;
    color: #fff;
    width: 261px;
    text-align: left;
    position: absolute;
    line-height: 40px;
    margin-top: 60px;
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .screen--12 h1 {
        font-size: calc(7em + 1vw);
        margin-bottom: 50px;
    }

    .screen--12 h1 small {
        display: block;
        position: relative;
        font-size: 20px;
    }
}

.screen--12 p {
    color: #fff;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 11px;
    margin-bottom: 35px;
}

.screen--12 p img {
    margin-bottom: 10px;
}

.screen--12 .product--main {
    top: 0px !important;
}

.coso {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 70px;
    z-index: 1;
}

@media (max-width: 768px) {
    .coso {
        padding-bottom: 0px;
    }
}

.coso:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    background: #f9fbee;
}

.coso div {
    position: relative;
    z-index: 5;
}

.box-right {
    position: absolute;
    right: 0px;
    top: 0px;
}

@media (max-width: 1199px) {
    .box-right {
        position: relative;
        float: right;
        margin-top: 50px;
    }

    .box-right p {
        display: inline-block;
    }
}

.box-left {
    position: absolute;
    left: 30px;
    top: -20px;
    font-family: "helveticaneuecyrroman";
}

.product--main {
    position: absolute;
    top: 130px;
    left: -10px;
}

.product--main img {
    max-width: 100%;
}

.product--price {
    display: inline-block;
}

.product--price ul {
    margin-left: 0;
    padding-left: 0;
}

.product--price li {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 5px;
    vertical-align: top;
}

.product--price li span {
    font-size: 14px;
    color: rgba(26, 27, 32, 0.5);
    display: block;
    font-family: "helveticaneuecyrroman";
}

.product--price li strong {
    font-size: 32px;
    color: #1a1b20;
    font-family: "helveticaneuecyrbold";
}

.product--price-white {
    color: #fff;
}

.product--price-white li strong {
    color: #fff;
}

.product--price-white h4 {
    font-size: 24px;
    font-family: "Playfair Display";
    margin-bottom: 22px !important;
}

.fill {
    background: #eef4cf;
    padding: 15px 20px;
    font-size: 16px;
    font-family: "helveticaneuecyrmedium";
    color: #1a1b20;
}

.green-icons {
    text-align: center;
    font-family: "helveticaneuecyrroman";
    color: #4aa147;
    font-size: 14px;
    line-height: 20px;
}

.green-icons img {
    margin-bottom: 20px;
    margin-top: 30px;
}

.s-text h2 {
    font-size: 42px;
    font-family: "Playfair Display";
    color: #1a1b20;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .s-text h2 {
        font-size: 36px;
    }
}

.s-text h3 {
    font-size: 28px;
    font-family: "Playfair Display";
    color: #1a3129;
    margin-bottom: 25px;
    line-height: 40px;
    margin-bottom: 40px;
}

.s-text p {
    font-size: 16px;
    color: #1a1b20;
    line-height: 24px;
    margin-bottom: 20px;
}

.s-text ol {
    margin-left: 15px;
    padding-left: 0;
    margin-bottom: 30px;
}

.s-text ol li {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 20px;
}

.s-text strong {
    font-size: 16px;
    font-family: "helveticaneuecyrmedium";
    font-weight: normal;
}

.in-text {
    position: relative;
    top: -3px;
    margin-right: 10px;
}

.list--shower {
    margin-left: 0;
    padding-left: 0;
    margin-top: -5px;
}

.list--shower li {
    display: block;
    text-align: center;
    color: #000000;
    font-size: 14px;
}

.list--el {
    margin-top: 25px;
    margin-bottom: 15px;
}

.list--el a {
    color: #58af55;
    text-decoration: none;
}

.list--el a:hover {
    color: #165a42;
}

.list--el img {
    margin-bottom: 15px;
}

.list--el p {
    font-size: 14px;
    margin-bottom: 15px;
}

.list--el strong {
    font-size: 16px;
}

.list-hide {
    display: none !important;
}

.list--whom {
    margin-top: 50px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

.list--whom img {
    margin-bottom: 18px;
    text-align: center;
}

.list--whom li {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #000;
    max-width: 180px;
    vertical-align: top;
}

.js--shower {
    display: inline-block;
    box-shadow: 0px -25px 40px 10px #fff;
}

.review--box {
    margin: 0 auto;
    background: url("../../images/review.png");
    width: 290px;
    height: 160px;
    overflow: hidden;
    font-size: 14px;
    color: #1a3129;
    text-align: left;
}

.review--box p {
    padding: 10px 15px;
    font-size: 14px;
}

.review--author {
    text-align: left;
    margin-top: 15px;
}

.review--img {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 50%;
}

.review--img img {
    width: 60px;
}

.review--name {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.review--name p {
    margin-bottom: 0px;
    font-family: "Playfair Display";
    font-size: 15px;
}

.review--name p span {
    font-family: "helveticaneuecyrroman";
    font-size: 13px;
    color: rgba(26, 49, 41, 0.5);
}

a.carousel-control.left {
    left: -5%;
    top: 50%;
}

a.carousel-control.right {
    right: -5%;
    top: 50%;
}

#slider-review {
    margin-top: 60px;
}

.product {
    margin-bottom: 30px;
    min-height: 455px;
}

.product h4 {
    font-family: "Playfair Display";
    font-size: 18px;
    color: #165a42;
    margin-bottom: 15px;
}

.product p {
    font-size: 12px;
    color: rgba(26, 49, 41, 0.7);
    line-height: 16px;
}

.product p strong {
    color: #1a3129;
    font-size: 16px;
}

.product a:hover {
    opacity: 0.8;
}

.sertificate {
    font-family: "Playfair Display";
    margin-bottom: 30px;
}

.sertificate p {
    font-size: 18px;
    color: #165a42;
}

.fixed {
    position: absolute;
    bottom: -360px;
    width: 90%;
}

@media (max-width: 1199px) {
    .fixed {
        position: relative;
        bottom: inherit;
        width: 100%;
        margin-top: -100px;
    }
}

.screen--01 .fixed {
    position: absolute;
    bottom: -360px;
    width: 90%;
}

@media (max-width: 1199px) {
    .screen--01 .fixed {
        position: relative;
        bottom: inherit;
        width: 100%;
        margin-top: inherit !important;
    }
}