@charset "UTF-8";
/*----------  Для анимации  ----------*/
/*----------  Для Разных разрешений  ----------*/
.align_center, .tac {
    text-align: center !important;
}

.align_left, .tal {
    text-align: left !important;
}

.align_right, .tar {
    text-align: right !important;
}

.f-right {
    float: right;
}

.ttu {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
}

.ml30 {
    margin-left: 47px;
    margin-top: 25px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

a {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    text-decoration: none;
}

.bn {
    display: inline-block;
    border: 2px solid #58af55;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 11px;
    font-family: "helveticaneuecyrmedium";
    color: #58af55;
    text-transform: uppercase;
    position: relative;
}

.bn:hover {
    border-color: #165a42;
}

.bn-lk {
    border: none;
    padding-top: 12px;
}

.bn-lk:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 9px;
    background: url("../../images/vertera-gel-sport/ico-lk.png") 50% 50% no-repeat;
    width: 19px;
    height: 18px;
}

.bn-fill {
    background: #58af55;
    color: #fff !important;
    font-size: 12px !important;
    font-family: "helveticaneuecyrbold";
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bn-fill:hover {
    background: #165a42;
    border-color: #165a42;
}

.bn-small {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 20px;
}

.bn-oliva {
    background-color: #c6de89;
    border-color: #c6de89;
    color: #000 !important;
}

.bn-oliva:hover {
    color: #fff !important;
}

.bn-sal {
    background-color: #76b763;
    border-color: #76b763;
}

@font-face {
    font-family: "Rub";
    src: url("../fonts/rouble.otf");
}
@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/roboto-condensed.regular.ttf");
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url("../fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url("../fonts/helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url("../fonts/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticalight';
    src: url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-light-webfont.otf");
    font-weight: normal;
    font-style: normal;
}

.rub {
    font-family: 'Rub';
    font-style: normal;
}

strong {
    font-weight: normal;
    font-family: 'helveticaneuecyrbold';
}

.navbar {
    border: none;
    padding-top: 30px;
    background: #fff;
    -moz-border-radius: 100% / 50%;
    -webkit-border-radius: 100% / 50%;
    border-radius: 100% / 50%;
}

.navbar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: #fff;
    top: 0;
    left: 0;
}

@media (max-width: 767px) {
    .navbar {
        padding-top: 15px;
        max-height: 70px;
    }
    .navbar div#bs-example-navbar-collapse-1 {
        background-color: #fff;
        width: 112%;
        top: -42px;
        position: relative;
    }
}

.navbar-nav {
    float: none;
    width: 100%;
    text-align: center;
}

.navbar-nav a {
    font-family: 'helveticaneuecyrmedium';
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
    color: #165a42;
}

@media (max-width: 1000px) {
    .navbar-nav a {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .navbar-nav a {
        font-size: 15px;
    }
}

.navbar-nav ul {
    text-align: center;
    display: inline-block;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

.navbar-nav li a {
    color: #165a42 !important;
}

.navbar-nav li a:hover {
    color: #58af55 !important;
}

@media (max-width: 767px) {
    .navbar-nav li {
        float: left;
        display: block;
    }
}

@media (max-width: 1199px) {
    .navbar-nav {
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .navbar-header {
        position: relative;
        top: -35px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        border: none !important;
        margin-top: -30px;
    }
}

.in-text {
    position: relative;
    top: -3px;
    margin-right: 10px;
}

.header--logo {
    font-family: 'Playfair Display';
    font-size: 12px;
    color: rgba(22, 90, 66, 0.8);
}

.header--logo img {
    margin-bottom: 5px;
}

.header--logo p {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .header--logo {
        position: relative;
        top: 3px;
    }
}

.header--helper em {
    font-style: normal;
    color: #165a42;
    font-size: 11px;
}

.header--helper p {
    margin-bottom: 0;
}

.header--helper span {
    color: rgba(22, 90, 66, 0.5);
    font-size: 11px;
}

.header--helper strong {
    border-bottom: 1px dashed;
    color: #165a42;
    font-family: "helveticaneuecyrbold";
    font-weight: normal;
    font-size: 14px;
}
/*
footer {
  margin-top: 70px;
}

footer ul {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

footer ul li {
  display: inline-block;
  text-align: justify;
  padding-left: 28px;
  padding-right: 28px;
}

footer ul li a {
  display: inline-block;
  padding: 15px;
  font-family: "Playfair Display";
  font-size: 14px;
  text-transform: uppercase;
  color: #1a1b20;
  text-decoration: none;
}

footer ul li a:hover {
  color: #000;
} */

.img-line {
    position: relative;
    padding-bottom: 20px;
}

.img-line:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 31px;
    height: 1px;
    background: #000;
}

.img-line img {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
}

html {
    height: 100%;
}

html, body {
    font-family: "helveticaneuecyrroman";
}

a {
    color: #165a42;
}

.img-responsive {
    display: inline-block;
}

.test {
    min-height: 1100px;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto Condensed";
    color: #1d172c;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    z-index: 5;
    line-height: 51px;
    font-style: italic;
    padding-left: 25px;
    padding-right: 25px;
    max-height: 60px;
}

.btn:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
}

.btn-yellow:before {
    content: "";
    background-color: #fff600;
}

.btn-black {
    color: #fff;
}

.btn-black:before {
    content: "";
    background-color: #1d172c;
}

.btn-black:hover {
    color: #eee;
}

.btn-black:hover:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 1px 2px 1px #fff;
}

.btn-green {
    color: #fff;
}

.btn-green:before {
    content: "";
    background-color: #58af55;
}

.btn-green:hover {
    color: #eee;
}

.btn-green:hover:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 1px 2px 1px #fff;
}

.btn:hover:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 1px 2px 1px #000;
}

.screen--01 {
    background: #1c1629 url("../../images/vertera-gel-sport/slide_01_full.png") top center no-repeat;
    padding-top: 50px;
    /* margin-top: 45px; */
    padding-bottom: 150px;
}

@media (max-width: 1199px) {
    .screen--01 {
        background-size: cover;
        background-position: left top;
    }
}

@media (max-width: 768px) {
    .screen--01 {
        padding-top: 0px;
        margin-top: 0px;
    }
}

.screen--02 .row {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .screen--02 .row {
        margin-bottom: 0;
    }
    .screen--02 .container {
        padding-bottom: 100px;
    }
}

.screen--02 .tac {
    margin-bottom: 30px;
}

.screen--03 {
    background: url("../../images/vertera-gel-sport/c01.png") -4% 50% no-repeat, url("../../images/vertera-gel-sport/01.png") top center no-repeat, #1d172c;
    padding-top: 210px;
    color: #fff;
    margin-top: -45px;
    padding-bottom: 115px;
}

.screen--04 {
    padding-top: 90px !important;
    padding-bottom: 0 !important;
    height: 770px;
}

@media (max-width: 1199px) {
    .screen--04 {
        height: inherit;
    }
}

.screen--05 {
    background: url("../../images/vertera-gel-sport/c03.png") left center no-repeat, url("../../images/vertera-gel-sport/03.png") right top no-repeat, #1d172c;
    padding-top: 170px;
    padding-bottom: 200px;
    color: #fff;
}

@media (max-width: 768px) {
    .screen--05 {
        background: #1d172c;
    }
}

@media (max-width: 1199px) {
    .screen--05 {
        margin-top: 60px;
    }
}

.screen--06 {
    position: relative;
    top: -5px;
    padding-bottom: 145px !important;
}

.screen--07 {
    padding-top: 170px;
    padding-bottom: 100px !important;
    color: #fff;
    margin-top: -100px !important;
}

.screen--08 {
    background: url("../../images/vertera-gel-sport/06.png") top center no-repeat;
    padding-bottom: 100px;
    margin-top: -50px;
    padding-top: 100px;
}

@media (max-width: 991px) {
    .screen--08 {
        background: #eee;
    }
}

.screen--09 {
    padding-top: 90px !important;
    color: #fff;
    padding-bottom: 100px !important;
}

@media (max-width: 1199px) {
    .screen--09 {
        margin-top: -120px !important;
    }
}

@media (max-width: 991px) {
    .screen--09 {
        margin-top: -80px !important;
    }
}

.screen--09 h2 {
    margin-bottom: 50px;
}

.screen--10 {
    padding-top: 150px;
    padding-bottom: 100px;
}

.screen--11 {
    color: #fff;
    padding-top: 100px !important;
    padding-bottom: 150px !important;
}

.screen--11 h2 {
    margin-bottom: 50px;
}

.relative-top {
    position: relative;
    top: -100px;
}

@media (max-width: 1199px) {
    .relative-top {
        top: 0px;
    }
}

@media (max-width: 1199px) {
    .relative-top img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.h--img {
    position: relative;
}

.h--img img {
    position: absolute;
    top: -20px;
    left: -100px;
}

@media (max-width: 768px) {
    .h--img img {
        position: inherit;
        display: block;
        left: 0px;
    }
}

.h--img-middle img {
    top: 0px;
}

.header--before {
    font-family: "Roboto Condensed";
    color: #fff600;
    font-size: 24px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 185px;
}

@media (max-width: 768px) {
    .header--before {
        margin-top: 100px;
    }
}

.header--after {
    font-family: "helveticalight";
    font-weight: 300;
    color: #fff;
    font-size: 28px;
    margin-bottom: 25px;
}

.first--header h1 {
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.92);
}

@media (max-width: 1199px) {
    .first--header h1 {
        font-size: 50px;
    }
}

.gel {
    position: absolute;
    bottom: -270px;
    z-index: 6;
    right: -70px;
    background: url("../../images/vertera-gel-sport/gel.png") left top no-repeat;
    width: 540px;
    height: 600px;
}

@media (max-width: 1325px) {
    .gel {
        right: 20px;
        width: 450px;
    }
}

@media (max-width: 1199px) {
    .gel {
        position: initial;
        width: 100%;
        max-width: 540px;
        background-size: 100%;
    }
}

@media (max-width: 768px) {
    .gel {
        height: 350px;
    }
}

.box--skew {
    color: #fff !important;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.box--skew-fill {
    vertical-align: top;
    position: relative;
    display: inline-block;
    z-index: 5;
    font-size: 40px;
    color: #1d172c;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "helveticaneuecyrbold";
    max-height: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -5px;
}

.box--skew-fill small {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 0;
    font-family: "Roboto Condensed";
}

.box--skew-fill small.rub {
    font-family: 'Rub';
}

.box--skew-fill:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #fff600;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
}

.box--skew-nofill {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: "Roboto Condensed";
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 60px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.box--skew-nofill:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 1px solid #fff;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
}

.box--coso {
    margin-bottom: 100px;
}

.box--coso-green .box--skew {
    margin-right: 15px;
}

.box--coso-green .box--skew-fill {
    color: #fff;
}

.box--coso-green .box--skew-fill:before {
    background-color: #58af55;
}

.box--coso-green .box--skew-nofill {
    color: #58af55;
}

.box--coso-green .box--skew-nofill:before {
    border: 1px solid #58af55;
}

.pre-h1 {
    text-transform: uppercase;
    font-size: 13px !important;
    font-family: "helveticaneuecyrbold";
    color: #fff;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.min-height {
    min-height: 60px;
}

.coso {
    position: relative;
    padding-top: 200px;
    padding-bottom: 50px;
    z-index: 1;
    margin-top: -50px;
}

@media (max-width: 768px) {
    .coso {
        padding-bottom: 0px;
        padding-top: 100px;
    }
}

.coso:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}

.coso div {
    position: relative;
    z-index: 5;
}

.coso-07:before {
    background: url("../../images/vertera-gel-sport/c05.png") left center no-repeat, url("../../images/vertera-gel-sport/05.png") 50% 50% no-repeat, #1d172c;
}

@media (max-width: 768px) {
    .coso-07:before {
        background: #1d172c;
    }
}

.coso-plus:before {
    content: "";
    -o-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
}

.coso-plus-03 {
    background: url("../../images/vertera-gel-sport/02.png") right center no-repeat;
}

.coso-plus-06 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e9e7+0,dedbda+100 */
}

.coso-plus-06:before {
    background: #e8e9e7 url("../../images/vertera-gel-sport/04.png") top center no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .coso-plus-06:before {
        background: #e8e9e7;
    }
}

.coso-plus-blue:before {
    content: "";
    background-color: #1d172c;
}

.coso-yellow:before {
    content: "";
    background-color: #fff600;
}

.coso-blue:before {
    content: "";
    background-color: #1d172c;
}

.coso-white:before {
    content: "";
    backgroud-color: #fff;
}

.coso-white-2:before {
    content: "";
    background: #fff url("../../images/vertera-gel-sport/02.png") right center no-repeat;
    padding-bottom: 0;
}

.coso-continue {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 9;
    margin-bottom: -50px;
}

.coso-continue:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -o-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
}

h2 {
    font-size: 36px;
    letter-spacing: 1px;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    margin-bottom: 25px;
}

.text em {
    font-family: "Roboto Condensed";
    font-size: 16px;
}

.text p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.text span {
    font-size: 14px;
    font-family: "helveticaneuecyrmedium";
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
    display: block;
    margin-bottom: 10px;
}

.text ul {
    margin-top: 0;
}

.text li {
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #1d172c;
}

.text-white span {
    color: rgba(0, 0, 0, 0.5);
}

hr {
    border-color: #262034;
}

.ul--img {
    margin-left: 0px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.ul--img li {
    margin-left: 0;
    position: relative;
    display: block;
    font-size: 16px;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 10px;
    line-height: 30px;
    color: #fff;
}

.ul--img li:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    width: calc(100% + 50px);
    margin-left: -50px;
    border-bottom: 1px solid #262034;
}

.ul--img img {
    position: absolute;
    left: -50px;
}

.ul--img strong {
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.text-white .ul--img {
    margin-top: 40px;
}

.text-white .ul--img li {
    color: #58af55;
    margin-bottom: 5px;
}

.text-white .ul--img li:after {
    display: none;
}

.text-white .ul--img li.nogreen {
    color: #1d172c;
    font-family: "helveticaneuecyrroman";
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
}

.text-white .ul--img img {
    top: -10px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    color: #221b33;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
}

.review--box {
    margin: 0 auto;
    background: url("../../images/vertera-gel-sport/review.png");
    width: 290px;
    height: 160px;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.review--box p {
    padding: 10px 15px;
    font-size: 14px;
}

.review--author {
    text-align: left;
    margin-top: 15px;
}

.review--img {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 50%;
}

.review--img img {
    width: 60px;
}

.review--name {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 50px;
}

.review--name p {
    margin-bottom: 0px;
    font-family: "Roboto Condensed";
    font-size: 15px;
}

.review--name p span {
    font-family: "helveticaneuecyrroman";
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

a.carousel-control.left {
    left: -5%;
    top: 50%;
}

a.carousel-control.right {
    right: -5%;
    top: 50%;
}

p.strong {
    font-family: "Roboto Condensed";
    color: #1d172c;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 30px;
}

p.light {
    font-family: "Roboto Condensed";
    color: #1d172c;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}

.in-line {
    display: inline-block;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(29, 23, 44, 0.2);
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.box-inline {
    display: inline-block;
    padding-top: 15px;
    margin-right: 30px;
}

.box-inline .text {
    font-size: 16px;
    font-style: italic;
    font-family: "Roboto Condensed";
    display: block;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.box-inline .old {
    font-size: 20px;
    font-family: "helveticaneuecyrbold";
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: -5px;
    margin-right: 5px;
    text-decoration: line-through;
}

.box-inline small {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    top: -6px;
    position: relative;
}

.box-inline strong {
    font-family: "helveticaneuecyrbold";
    font-size: 40px;
}

.promo-2 .header--before {
    color: #58af55;
    font-size: 25px;
    font-family: "Roboto Condensed";
    margin-top: 0;
}

.promo-2 .header--after {
    color: #1d172c;
    font-size: 20px;
    font-family: "helveticaneuecyrmedium";
}

.promo-2 h1 {
    font-size: 90px;
    font-style: italic;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 991px) {
    .promo-2 h1 {
        font-size: 55px;
    }
}

#sertif a.carousel-control.left, #slider-review a.carousel-control.left {
    opacity: 1;
    z-index: 8;
    left: -10%;
    top: 50%;
}

@media (max-width: 1390px) {
    #sertif a.carousel-control.left, #slider-review a.carousel-control.left {
        left: -9%;
    }
}

#sertif a.carousel-control.right, #slider-review a.carousel-control.right {
    opacity: 1;
    z-index: 8;
    right: -10%;
    top: 50%;
}

@media (max-width: 1390px) {
    #sertif a.carousel-control.right, #slider-review a.carousel-control.right {
        right: -5%;
    }
}

#sertif p {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.feb--modern {
    margin-bottom: 69px !important;
}

.min-height {
    min-height: 72px;
}

.screen--02 h3 {
    font-size: 16px !important;
}

.screen--02 a {
    text-decoration: none;
}

.font-rc {
    font-family: "Roboto Condensed" !important;
    font-size: 16px !important;
}

.screen--03 .ul--img {
    max-width: 460px;
}

.screen--00 {
    margin-top: -110px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.screen--00 h4 {
    font-family: "Roboto Condensed" !important;
    font-size: 26px;
    line-height: 36px;
    color: #1d172c;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.screen--00 h4 small {
    display: block;
    font-size: 16px;
    color: rgba(29, 23, 44, 0.5);
    margin-bottom: 15px;
}

.screen--00 p {
    font-size: 16px;
    line-height: 22px;
}

.feb--col {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.feb--col-yellow {
    border-radius: 16px;
    background-color: #fff600;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
}

.feb--line {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.feb--line-empty {
    text-align: left;
}

.feb--line .visible-xs {
    margin-bottom: 15px;
}

.feb--head {
    min-width: 170px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Roboto Condensed" !important;
    color: #1d172c;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 35px 10px;
    line-height: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

@media (max-width: 1199px) {
    .feb--head {
        min-width: 220px;
    }
}

.feb--head-empty {
    min-height: 115px;
    min-width: 2px;
    border-bottom: none;
}

.status {
    display: inline-block !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: top;
}

.status-small {
    width: 10px;
    height: 10px;
}

.status-good {
    background-color: #58af55;
}

.status-bad {
    background-color: #ef9a9a;
}

.status-maybe {
    background-color: #fdd835;
}

.status--map {
    margin-top: 30px;
    margin-bottom: 40px;
}

.status--map span {
    position: relative;
    top: 5px;
    margin-right: 5px;
    margin-left: 12px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5) !important;
}

.screen--06 .ul--img li {
    line-height: 24px !important;
}

.screen--08 .nogreen {
    font-size: 16px !important;
    line-height: 24px;
}

.screen--08 .ul--img li {
    line-height: 24px !important;
}

.screen--17 {
    color: #fff;
    margin-top: -120px;
    padding-top: 150px;
    padding-bottom: 120px;
    background: url("../../images/vertera-gel-sport/c07.png") 0% 50% no-repeat, url("../../images/vertera-gel-sport/07.png") 0% 0%;
}

@media (max-width: 1199px) {
    .screen--17 {
        background-size: cover;
    }
}

.screen--04 {
    padding-top: 0 !important;
    position: relative;
    z-index: 10;
    padding-bottom: 50px !important;
}

.screen--04 .h--img {
    width: 470px !important;
}

@media (max-width: 767px) {
    .screen--04 .h--img {
        width: inherit !important;
    }
}

.screen--20 {
    padding-bottom: 70px;
    padding-top: 130px;
}

.screen--20 h2 {
    line-height: 40px;
    margin-bottom: 30px;
}

.screen--20 h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.screen--20 .min-height {
    min-height: 50px;
}

.screen--20 .min-height img {
    max-height: 50px !important;
}

.screen--20 li {
    font-size: 16px;
    line-height: 24px;
    color: #1d172c;
    margin-bottom: 25px;
}

.mt20 {
    margin-top: 20px;
}

.screen--07 {
    padding-top: 170px !important;
    padding-bottom: 50px !important;
}

.screen--05 p {
    line-height: 26px !important;
}

@media (max-width: 1390px) {
    #sertif a.carousel-control.right, #slider-review a.carousel-control.right {
        right: -3%;
    }
}

@media (max-width: 991px) {
    .promo-2 h1 {
        font-size: 53px;
    }
}